.article {
	&__title {
		display: block;
		margin-top: 10px;
			
		color: #000;
		font-weight: 600;
		line-height: 30px;
	}
			
	&__title:hover { 
		color: #000;
		text-decoration: underline; 
	}
			
	&__subtitle {
		color: #8e8e8e;	
		font-weight: 600;
		line-height: 24px;
	}
	
	&__description {
		margin: 0 auto;
		max-width: 480px;	
		
		font-size: 14px;
		line-height: 30px;
	}
				
	&__divider { margin: 15px 0; }
	&__button { margin-top: 10px; }
}